footer {
	text-align: center;
}
footer small a {
	color: black;
}

.graph {
	width: 80%;
	margin: auto;
}

/* ボタン */
.buttons {
	text-align: center;
	margin-top: 100px;
}
.buttons p {
	display: inline-block;
	margin: 10px;
}

#graph {
	text-align: center;
}